@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
    

@font-face{
    font-family:  'FonteLogo';
    src: url('../_fonts/bubblegum-sans-regular.otf');


}

body{
    background-color: #dddddd;
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 1);

}

#interface{
    padding: 10px;
    background-color: white;
    width: 900px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px black;


}

#oculos{
    position: absolute;
    margin: -70px 0px 0px 700px;


}

#cabecalho{
    border-bottom: 1px #000000 solid ;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 85px;


}

#cabecalho h1{
    font-family:  'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
    


}

#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #606060;
    padding: 0px;
    margin-top: 0px;


}


p {
    text-align: justify;
    text-indent: 50px;
}

#project{
    color: #606060;
    text-decoration: none;

}

#project:hover{
    text-decoration: underline ;
    color: black;

}

 figure.foto-legenda{
     position: relative;
     border: 8px solid white;
     box-shadow: 1px 1px 4px black;

 }

 figure.foto-legenda img{
     height: 100%;
     width: 100%;
    
 }

 figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color:rgba(0, 0, 0, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;

 }

 figure.foto-legenda:hover figcaption{
     opacity: 1;

 }

 #menu {
    display: block;
 
}
 
 nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin: -120px 0 0 260px;

 }

 nav#menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;

 }

 nav#menu li:hover{
     background-color: #606060;

 }

 #menu h1{
    display: none;

 }

 #menu a{
     color: #000000;
     text-decoration: none;

 }

 #menu a:hover{
    color: white
 }

 #corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #000000;
    padding-right: 15px;

 }

 #noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;

 }

 #cabecalho-artigo h1{
     font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;  
    margin-bottom: 0px;  
    margin-top: 0px;
 }

 
 #cabecalho-artigo h2{
     font-size: 13pt;
     color: #cecece;
     background-color: #ffffff;
     margin: 0px;
     
}

#cabecalho-artigo h3{
    font-size: 12px;
    color:#606060;

}

.direita{
    text-align: right;

}
 #lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
 }

#lateral h1{    
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;


}

#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
    padding: 5px;


}

 footer{
    clear: both;
    border-top: 1px solid #000000;
 }

 footer p{
    text-align: center;
    text-decoration: none;
    color: #000000;
 }

 .footer-link{
    text-align: center;
    text-decoration: none;
    

 }

 .icon{
    height: 40px;
    width: 40px;

 }

 #table{
    border: 1px solid #606060;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
 }

 td{
     border: 1px solid #606060;
    text-align: center ;
     padding: 10px;
     vertical-align: middle;
   

 }

 .coluna1{
     color: white;
     background-color: #606060;
     vertical-align: top;
     text-align: right;
     font-weight: bolder;
     


 }

 .coluna2{
     background-color: #cecece;
     text-align: left;


 }

 caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;

 }
 
 table span{
     display: block;
     float: right;
     color: #888888;
     font-size: 8pt;
     margin-top: 7px;
 }
 
 #video{
     display: block;
     margin: 0 auto 10px auto;
 }
 
 #video2{
    display: block;
    margin: 0 auto 10px auto;
    width: 350px;
}
